[submodule "themes/hugo-future-imperfect-slim"]
	path = themes/hugo-future-imperfect-slim
	url = https://github.com/pacollins/hugo-future-imperfect-slim.git
[submodule "public"]
	path = public
	url = git@github.com:ysk-d/ysk-d.github.io
	branch = master
